{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="parallax"></div>
<div class="title">
    <h1 class="home-title">Festival Detail</h1>
</div>
<div class="container-detail">
    <div class="detail-content">
    <h1 class="home-title">{{ festival.name }}</h1>
    <div class="detail-detail">
    <p><span style="font-weight: bold;">Location:</span> {{ festival.location }}</p>
    <p><span style="font-weight: bold;">Date:</span> {{ festival.date }}</p>
    <p><span style="font-weight: bold;">Duration:</span> {{ festival.duration }}</p>
    <p><span style="font-weight: bold;">Details:</span> {{ festival.description}}</p>
    </div>
   </div>
</div>
<form action="{% url 'add_festival' festival.id %}" method="POST">
{% csrf_token %}
<button type="submit" class="btn btn-info d-flex justify-content cente align content-between mb-5" value=""><span class="material-symbols-outlined" line-block;">favorite</span>Add Festival
</button>
</form>
</div>


{% endblock %}
